@font-face {
    font-family: Elsie-Black;
    src: url(./fonts/Elsie-Black.ttf)
}

@font-face {
    font-family: Elsie-Regular;
    src: url(./fonts/Elsie-Regular.ttf)
}

*{
    font-family: 'Elsie-Regular', sans-serif;
    font-size: 18px;
    color: #034890;
}
html, body{
    margin: 0;
    height: 100vh;
    text-align: center;
}

.header-ban{
    background-image: url(./img/banniere-min.jpeg);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-attachment: scroll;
    background-size: cover;
    height: 40vh;
    margin: 0;
    padding-top: 60vh;
}

.heading-ban {
    display: block;
    font-family: 'Elsie-Regular', cursive;
    font-size: 4em;
    font-weight: normal;
    text-shadow: 0 0 10px #000;
    text-align: left;
}

.heading-ban-subtext{
    color: #fff;
    display: block;
    font-family: 'Elsie-Regular', cursive;
    font-size: .6em;
}

.heading {
    font-family: 'Elsie-Regular', cursive;
    font-size: 4em;
    font-weight: normal;
}

.heading-subtext{
    display: block;
    font-family: 'Elsie-Regular', cursive;
    font-size: .6em;
}


.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}

.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}

.petales-45 {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.petales {
    transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    display: block;
}

.papillon {
    
    position: fixed;
    display: block;
    
    top: 10em;
    right: 12em;
    
    padding: 1em;
    position: fixed;
    
    text-decoration: none;
    z-index: 9999;
}

.section{
    margin: 0 auto;
    max-width: 18em;
    padding: 1em 2.4em;
}

.sub-heading{
    font-family: 'Elsie-Black', cursive;
    font-size: 2em;
    margin-top: 1.8em;
}

.fleur {
    margin-bottom: -2em;
}

.details{
    margin: 0 auto 6em;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}

.fas {
    font-size: 3em;
    opacity: .8;
}

.church-image{
    margin-top: 2em;

    width: 16em;

    filter: drop-shadow(0.2rem 0.2rem 0.4rem gray);
    -webkit-filter: drop-shadow(0.2rem 0.2rem 0.4rem gray);
}

.calendar-link {
    display: block;
    text-align: center;
}

.number {
    font-family: 'Roboto';
}


.maps {
    width: 16em;
}

.resort-image {

    filter: drop-shadow(0.2rem 0.2rem 0.4rem gray);
    -webkit-filter: drop-shadow(0.2rem 0.2rem 0.4rem gray);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    margin-top: -0.8em;
    display: inline-block;
    text-align: left;
}

li {
    margin-top: 1em;
    margin-bottom: 2.5em;
}

.form {
    text-align: left;
}

.form-group {
    display: flex;
    
    margin-top: .8em;
}

.form-group label {
    flex-grow:2;
    max-width: 16em;
}

.form-group input {
    flex-grow: 2;
}

.form-group select {
    flex-grow: 2;
}

.form-group textarea {
    flex-grow: 2;
}

.submit {
    margin-top: .9em;
    text-align: center;
}

.submit-button {
    margin-bottom: 2em;
}

.left {
    text-align: left;
}

.oiseau {
    max-width: 20.5em;
}

.contact-email {
    margin-left: -1em;
    
}



@media only screen and (min-width: 601px) {
    .resort-image{
        margin-top: 2em;
        margin-left: -10em;
        width: 40em;
    }

    .step-up {
        margin-top: 0;
    }
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;
    }

    .papillon {
        top: 6;
        left: 16em;
    }

    .resort-image{
        margin-top: 2em;
        margin-left: -2em;
        width: 20em;
    }

    .step-up {
        margin-top: -1.2em;
    }
}


  /********** alert  **********/
  .alert {
    margin-top: 2em;
    padding: 1em;
    background-color: #f0cf44;
    color: gray;
  }
  
  .closebtn {
    margin-left: 15px;
    color: gray;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
  /********** /alert  **********/

