@font-face {
    font-family: Elsie-Black;
    src: url(./fonts/Elsie-Black.ttf)
}

@font-face {
    font-family: Elsie-Regular;
    src: url(./fonts/Elsie-Regular.ttf)
}

*{
    font-family: 'Elsie-Regular', sans-serif;
    font-size: 18px;
    color: #004388;
}
html, body{
    margin: 0;
    height: 100vh;
    text-align: center;
}

.header{
    background-image: url(./img/banniere.jpeg);
    background-repeat: no-repeat;
    background-position: 40% 50%;
    background-attachment: scroll;
    background-size: cover;
    height: 40vh;
    margin: 0;
    padding-top: 60vh;
}
.heading {
    color: #ffffff;
    display: block;
    font-family: 'Elsie-Regular', cursive;
    font-size: 4em;
    font-weight: normal;
    text-shadow: 0 0 10px #000;
    text-align: left;
}

.heading-subtext{
    color: #fff;
    display: block;
    font-family: 'Elsie-Regular', cursive;
    font-size: .6em;
}

.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}

.papillon {
    margin-top: .5em;
    text-align: right;
}

.section{
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 2.4em;
}
.sub-heading{
    font-family: 'Elsie-Black', cursive;
    font-size: 2em;
    margin-top: 2em;
}
.details{
    margin: 0 auto 8em;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}
.fas {
    font-size: 3em;
    opacity: .8;
}
.church-image{
    margin-top: 2em;

    width: 20em;

    filter: drop-shadow(0.2rem 0.2rem 0.4rem gray);
    -webkit-filter: drop-shadow(0.2rem 0.2rem 0.4rem gray);
}

.resort-image{
    margin-top: 2em;
    width: 100%;
    
    filter: drop-shadow(0.2rem 0.2rem 0.4rem gray);
    -webkit-filter: drop-shadow(0.2rem 0.2rem 0.4rem gray);src/theme.css

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    margin-top: -0.8em;
    display: inline-block;
    text-align: left;
}

li {
    margin-top: 0.8em;
}

.form {
    text-align: left;
}

.form-group {
    display: flex;
    margin-top: .8em;
}

.form-group label {
    flex-grow:2
}

.form-group input {
    flex-grow: 2;
}

.form-group select {
    flex-grow: 2;
}

.form-group textarea {
    flex-grow: 2;
}

.submit {
    margin-top: .9em;
    text-align: center;
}

.footer {
    text-align: left;;
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;
    }
  }